<div>
    <h2 id="page-heading">
        <span>Bibliotecas</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-biblioteca" [routerLink]="['/biblioteca/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Biblioteca
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="bibliotecas">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="nombre"><span>Nombre</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="descripcion"><span>Descripcion</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="valoracion"><span>Valoracion</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="plazasTotales"><span>Plazas Totales</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="plazasDisponibles"><span>Plazas Disponibles</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="zona"><span>Zona</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="numEnchufes"><span>Num Enchufes</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="salas"><span>Salas</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="estudiante.id"><span>Estudiante</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let biblioteca of bibliotecas ;trackBy: trackId">
                <td><a [routerLink]="['/biblioteca', biblioteca.id, 'view' ]">{{biblioteca.id}}</a></td>
                <td>{{biblioteca.nombre}}</td>
                <td>{{biblioteca.descripcion}}</td>
                <td>{{biblioteca.valoracion}}</td>
                <td>{{biblioteca.plazasTotales}}</td>
                <td>{{biblioteca.plazasDisponibles}}</td>
                <td>{{biblioteca.zona}}</td>
                <td>{{biblioteca.numEnchufes}}</td>
                <td>{{biblioteca.salas}}</td>
                <td>
                    <div *ngIf="biblioteca.estudiante">
                        <a [routerLink]="['../estudiante', biblioteca.estudiante?.id, 'view' ]" >{{biblioteca.estudiante?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/biblioteca', biblioteca.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/biblioteca', biblioteca.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'biblioteca', { outlets: { popup: biblioteca.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="bibliotecas && bibliotecas.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
