<div>
    <h2 id="page-heading">
        <span>Reportes</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-reporte" [routerLink]="['/reporte/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Reporte
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="reportes">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Nombre</span></th>
            <th><span>Descripcion</span></th>
            <th><span>Fecha</span></th>
            <th><span>Estudiante</span></th>
            <th><span>Biblioteca</span></th>
            <th><span>Sala Estudio</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let reporte of reportes ;trackBy: trackId">
                <td><a [routerLink]="['/reporte', reporte.id, 'view' ]">{{reporte.id}}</a></td>
                <td>{{reporte.nombre}}</td>
                <td>{{reporte.descripcion}}</td>
                <td>{{reporte.fecha | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="reporte.estudiante">
                        <a [routerLink]="['../estudiante', reporte.estudiante?.id, 'view' ]" >{{reporte.estudiante?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="reporte.biblioteca">
                        <a [routerLink]="['../biblioteca', reporte.biblioteca?.id, 'view' ]" >{{reporte.biblioteca?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="reporte.salaEstudio">
                        <a [routerLink]="['../sala-estudio', reporte.salaEstudio?.id, 'view' ]" >{{reporte.salaEstudio?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/reporte', reporte.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/reporte', reporte.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'reporte', { outlets: { popup: reporte.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
