<div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2 *ngIf="account">Cambiar contraseña de <b>{{account.login}}</b></h2>

            <div class="alert alert-success" *ngIf="success">
                <strong>Contraseña cambiada!</strong>
            </div>
            <div class="alert alert-danger" *ngIf="error" >
                <strong>Ha ocurrido un error!</strong> La contraseña no ha podido cambiarse.
            </div>

            <div class="alert alert-danger" *ngIf="doNotMatch">
                La contraseña de confirmación no coincide!
            </div>

            <form name="form" role="form" (ngSubmit)="changePassword()" #passwordForm="ngForm">

                <div class="form-group">
                    <label class="form-control-label" for="currentPassword">Contraseña actual</label>
                    <input type="password" class="form-control" id="currentPassword" name="currentPassword" #currentPasswordInput="ngModel"
                           placeholder="Contraseña actual"
                           [(ngModel)]="currentPassword" required>
                    <div *ngIf="currentPasswordInput.dirty && currentPasswordInput.invalid">
                        <small class="form-text text-danger"
                               *ngIf="currentPasswordInput.errors.required">
                            Se requiere una contraseña.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="newPassword">Nueva contraseña</label>
                    <input type="password" class="form-control" id="newPassword" name="newPassword" #newPasswordInput="ngModel"
                    placeholder="Nueva contraseña"
                           [(ngModel)]="newPassword" minlength=4 maxlength=50 required>
                    <div *ngIf="newPasswordInput.dirty && newPasswordInput.invalid">
                        <small class="form-text text-danger"
                           *ngIf="newPasswordInput.errors.required">
                            Se requiere una contraseña.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="newPasswordInput.errors.minlength">
                            Se requiere una contraseña de más de 4 caracteres.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="newPasswordInput.errors.maxlength">
                            Se requiere una contraseña de menos de 50 caracteres.
                        </small>
                    </div>
                    <jhi-password-strength-bar [passwordToCheck]="newPassword"></jhi-password-strength-bar>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="confirmPassword">Nueva contraseña de confirmación</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" #confirmPasswordInput="ngModel"
                    placeholder="Confirma tu nueva contraseña"
                           [(ngModel)]="confirmPassword" minlength=4 maxlength=50 required>
                    <div *ngIf="confirmPasswordInput.dirty && confirmPasswordInput.invalid">
                        <small class="form-text text-danger"
                           *ngIf="confirmPasswordInput.errors.required">
                            Se requiere una contraseña de confirmación.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="confirmPasswordInput.errors.minlength">
                           Se requiere una contraseña de confirmación de más de 4 caracteres.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="confirmPasswordInput.errors.maxlength">
                           Se requiere una contraseña de confirmación de menos de 50 caracteres.
                        </small>
                    </div>
                </div>

                <button type="submit" [disabled]="passwordForm.form.invalid" class="btn btn-primary">Guardar</button>
            </form>
        </div>
    </div>
</div>
